# Dependencies
node_modules/
package-lock.json

# Environment variables
.env
config.env

# Build files
frontend/build/
frontend/build.zip

# Uploads (user submitted files)
backend/uploads/

# OS files
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Logs
*.log
npm-debug.log*

